*,
*::before,
*::after {
    box-sizing: border-box;
    font-family: "Sour Gummy", serif;
    background: #6D28D9;
    color: #F5F3FF;
    margin: 5px 10px 0 10px;
}

.main-pet-emoji {
    font-size: 4.5em;
    margin-left: 0.5em;
    vertical-align: middle;
    transform: rotate(15deg);
}

.title-container {
    display: flex;
    align-items: center;
    flex-direction: row;
}

.title-container h1 {
    font-size: 2em;
    margin-left: 0.5em;
}

select,
#btn {
    border: 2px solid #6D28D9;
    border-radius: 8px;
    padding: 5px;
    color: #000000;
    background-color: #F5F3FF;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease-in-out;
}

#btn {
    background-color: #FF69B4;
}

select:hover,
#btn:hover {
    transform: translateY(-2px);
}

@media(max-width: 600px) {
    .title-container {
        flex-direction: row;
    }

    .main-pet-emoji {
        font-size: 3.5em;
        margin-left: 0.5em;
    }

    #btn {
        display: block;
        margin: 20px auto;
        width: 70%;

    }
}